:root {
    --primary: #7a98b5;
    --accent: #e67e22;
    --light: #f4f4f4;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    padding: 10px 10px 10px 0px; /* Top, Right, Bottom, Left */
    color: white;
}

.brand-name {
    font-family: 'Archivo Black', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 5px;
}

#logo { 
    height: 60px; 
}

.logo-container {
    margin-left: 10px;
}

.nav-links { 
    display: flex; 
    list-style: none; 
}

.nav-links li a:hover {
    color: #f1994c; 
}
.nav-links li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 5px;
    font-weight: bold;
}



/* Page Control */
.page { 
    display: none; 
    padding: 50px 10%; 
    text-align: center; 
}

.page.active { 
    display: block; 
}

/* Home Section */
.hero-image img {
    width: 80%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* Form Styles */
#orderForm {
    max-width: 500px;
    margin: auto;
    text-align: left;
    background: var(--light);
    padding: 20px;
    border-radius: 8px;
}

.form-group { margin-bottom: 15px; }
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit { 
    background: var(--accent); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}