.grid-demo { 
    background-color: #e7f1ff; 
    border: 1px solid #b6d4fe; 
    padding: 12px; 
    margin-bottom: 10px; 
    text-align: center; 
    border-radius: 4px; 
} 

#main_img {
    width: 100%;
}